<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>KakapoDBPerformaceTests</key>
		<dict>
			<key>testCreatePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1591</real>
					<key>baselineIntegrationDisplayName</key>
					<string>09 apr 2016, 17:09:47</string>
				</dict>
			</dict>
			<key>testMultipleSingleCreationPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.32172</real>
					<key>baselineIntegrationDisplayName</key>
					<string>09 apr 2016, 17:24:03</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
